<h1>Login Here</h1>

<%= form_with url: login_path do |f| %>
    Email:
    <%= f.text_field :email %>
    Password:
    <%= f.password_field :password %>
    <%= f.submit "log in" %>

<% end %>

<h3>Login With Google</h3>

<%= button_to 'Google Login', '/auth/google_oauth2' %>