<h1> SIGN UP HERE</h1>

<%= form_with model: @user do |f| %>
    <ul>
    <li><%= f.label :email %> 
    <%= f.text_field :email %></li><br />
    <li><%= f.label :password %> 
    <%= f.password_field :password %></li><br />
    <li><%= f.submit 'Sign Up' %></li>
    </ul>
<% end %>





